/********** font imports **********/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lora&display=swap');


/********** fonts types **********/

:root[font="sans-serif"] {
  --font-family: 'Lora', serif;
}

:root[font="serif"] {
  --font-family: 'Inter', sans-serif;
}

:root[font="mono"] {
  --font-family: 'Inconsolata', monospace;
}


/********** font sizes **********/

:root {
  --font-size-extra-large: 4rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.25rem;
  --font-size-small: 1rem;
}

@media screen and (max-width: 767px) {
  :root {
    --font-size-extra-large: 2rem;
    --font-size-large: 1.125rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.9rem;
  }

  #wrapper {
    padding: 1.5em;
  }
}


/********** color themes **********/

:root[theme="light"] {
  --background: #FFFFFF;
  --text: #2D2D2D;
  --break: #E9E9E9;
  --font-menu-text: #2D2D2D;
  --font-options-bg: #FFFFFF;
  --font-options-shadow: #00000010;
  --font-options-hover: #A445ED;
  --theme-switch-bg: #757575;
  --theme-icon-stroke: #757575;
  --search-input-bg: #F4F4F4;
  --source-link: #2D2D2D;
}

:root[theme="dark"] {
  --background: #050505;
  --text: #FFFFFF;
  --break: #3A3A3A;
  --font-menu-text: #FFFFFF;
  --font-options-bg: #1F1F1F;
  --font-options-shadow: #A445ED;
  --font-options-hover: #A445ED;
  --theme-switch-bg: #A445ED;
  --theme-icon-stroke: #A445ED;
  --search-input-bg: #1F1F1F;
  --source-link: #FFFFFF;
}


/********** layout **********/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
}

#wrapper {
  min-width: 375px;
  max-width: 804px;
  padding: 2.5em;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 3em;
}


/********** headings **********/

h1 {
  font-size: var(--font-size-extra-large);
}

h2 {
  font-size: var(--font-size-large);
}

h3 {
  font-size: var(--font-size-medium);
  font-weight: 400;
  color: #757575;
}

h4 {
  font-size: var(--font-size-small);
  font-weight: 400;
  color: #757575;
}

/********** logo **********/

#logo {
  margin-right: auto;
}


/********** vertical bar **********/

#vertical-bar {
  height: 24px;
  border-left: 1px solid var(--break);
  position: relative;
}


/********** font menu **********/

#font-menu {
  color: var(--font-menu-text);
  position: relative;
}

#font-selected {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

#font-selected > span {
  font-weight: 700;
}

#font-options {
  position: absolute;
  right: 0;
  top: 2.5em;
  padding: 1.5em;
  min-width: 11.5em;
  border-radius: 1em;
  box-shadow: 0 5px 30px var(--font-options-shadow);
  background-color: var(--font-options-bg);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 1;
}

#font-options > label:hover {
  color: var(--font-options-hover);
  font-weight: 700;
  cursor: pointer;  
}

#font-options > input:checked+label {
  font-weight: 700;
}

#font-options > input {
  display: none;
}


/********** theme toggle **********/

#dark-theme {
  display: none;
}

#theme-switch {
  display: inline-block;
  cursor: pointer;
  width: 44px;
  height: 22px;
  border-radius: 15px;
  background-color: var(--theme-switch-bg);
  position: relative;
}

#slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: transform 500ms;
}

#dark-theme:checked ~ #slider {
  transform: translateX(22px);
}

#theme-icon {
  stroke: var(--theme-icon-stroke);
}


/********** search form **********/

#search-form {
  margin-top: 3em;
  display: flex;
  align-items: center;
  border: transparent;
  border-radius: 1em;
  position: relative;
}

#search-input {
  width: 100%;
  padding: 1.25em;
  border: transparent;
  border-radius: 1em;
  background-color: var(--search-input-bg);
  color: var(--text);
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
}

#search-input:hover {
  cursor: pointer;
  outline: 1px solid #A445ED;
}

#search-input:focus {
  outline: 1px solid #A445ED;
}

#search-icon {
  position: absolute;
  right: 1.25em;
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
}


/********** input error **********/

#input-error {
  color: #FF5252;
  padding: 1.25em;
}


/********** search result **********/

.search-result {
  display: flex;
  flex-direction: column;
  /* gap: 1.5em; */
}

#search-error {
  margin-top: 3em;
  text-align: center;
}

.emoji {
  font-size: var(--font-size-extra-large);
  margin-bottom: 0.5em;
}

#search-error h2 {
  margin-bottom: 1em;
}

#search-error p {
  color: #757575;
}


/********** phonetic **********/

.phonetics {
  display: flex;
  align-items: center;
  gap: 2em;
}

.phonetics > h2 {
  color: #A445ED;
  font-weight: 400;
}

.phonetic {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.phonetic > p {
  color: #757575;
}

.play-icon {
  width: 0.5em;
  height: 0.5em;
}

.play-icon:hover > circle {
  cursor: pointer;
  opacity: 1;
}

.play-icon:hover > path {
  fill: #FFFFFF;
}


/********** meanings **********/

.meanings {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--break);
  margin-top: 2.5em;
}

.meaning {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}


/********** part of speech **********/

.part-of-speech {
  display: flex;
  align-items: center;
}

.part-of-speech::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 1em;
  background-color: var(--break);
}


/********** definitions **********/

.definitions > ul {
  padding-left: 1.75em;
}

.definitions > ul > li {
  margin: 1em;
}

.definitions > ul > li::marker {
  color: #A445ED;
}

.example {
  margin-top: 0.5em;
  color: #757575;
}

.example::before {
  content: open-quote;
}

.example::after {
  content: close-quote;
}


/********** synonyms **********/
/********** antonyms **********/

.synonyms,
.antonyms {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.synonyms > p,
.antonyms > p {
  font-size: var(--font-size-medium);
  font-weight: 700;
  color: #A445ED;
}


/********** source **********/

.source {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 1em;
}

.source-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.source-link {
  display: flex;
  justify-content: space-between;
  color: var(--source-link);
  text-decoration: none;
}

.source-link:hover {
  text-decoration: underline;
}

.source-link > img {
  margin-left: 0.5em;
}